h1 Create account

form(name='create', method='post', action='new_user')
  | Username
  input(type='text', name='name')
  br
  | Password
  input(type='text', name='password')
  br
  input(type='submit')