html
  head
    link(rel='stylesheet', href='/stylesheets/homepage.css')
    block scripts
      script(src='javascript/homepage.js')

  body
    h1 Bag of Holding

    div(id="tabs")
      div(id="login")
        a(href="javascript:login()") Sign In

      div(id="create")
        a(href="javascript:create()") Create New Account

    div(id="form-container")
      form(id="form", method='post', action='authenticate')       
        |Username
        br
        input(type='text', name='username') 
        br
        |Password
        br
        input(type='password', name='password') 
        br
        input(type='submit')