block includes
  link(rel='stylesheet', href="stylesheets/file_index.css")
block scripts
  script(src="javascript/jquery-1.6.3.min.js")
  script(src="javascript/jquery.filedrop.js")
  script(src="javascript/file_index.js")


a(id="logout", href='/logout') Logout
p(id="welcome_user") Welcome, #{ username }!

h1= title
div(id="container")
  div(id="file_browser")
    div(id="file_browser_content")
      img(id="loading", src="images/BagOfHolding.jpg")
      p(align="center") Loading...
  p(class="upload_tip") Drag your files into the file container to upload them