h1 Login

p #{message}

a(href='/create') Create account

form(name='login', method='post', action='authenticate')       
  |Username
  br
  input(type='text', name='username') 
  br
  |Password
  br
  input(type='password', name='password') 
  br
  input(type='submit')
