a#logout
  position absolute
  right 10px
  top 15px

body
  height 100%

div
  background white

div#container
  margin-left auto
  margin-right auto
  width 80%

div#file_browser
  box-shadow 3px 3px 30px #aaa
  border-radius 20px 20px
  padding 15px 0
  width 100%

div#file_browser_content
  overflow auto
  margin 10px 10px

div#file_browser_content a
  display inline-block
  margin-bottom 10px
  vertical-align bottom
  width 20%
  text-align center

div#file_browser_content a.clickable img
  display block
  margin-left auto
  margin-right auto

h1
  text-align center

p#welcome_user
  position absolute
  left 10px
  top 0px

p.upload_tip
  text-align center

@media screen and (max-width: 960px) {
  div#file_browser_content a {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  div#file_browser_content a {
    width: 33%;
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
}

@media screen and (max-width: 580px) {
  div#file_browser_content a {
    width: 50%;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
}
