a#logout {
  position: absolute;
  right: 10px;
  top: 15px;
}
body,
height 100%,
div {
  background: #fff;
}
div#container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
div.file_browser {
  box-shadow: 3px 3px 30px #aaa;
  border-radius: 20px 20px;
  padding: 1px 0;
  height: 200px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 10px 10px;
}
div.file_browser a {
  display: inline-block;
  vertical-align: bottom;
  margin: 0px 25px 0px 25px;
}
h1 {
  text-align: center;
}
p#welcome_user {
  position: absolute;
  left: 10px;
  top: 0px;
}
p.upload_tip {
  text-align: center;
}
